<div class="container-fluid">
    <form [formGroup]="periodoForm" (ngSubmit)="Agregar()">
        <div class="row">
            <div class="col d-flex flex-column justify-content-center text-center">
                <p>Titulo primer periodo</p>
                <input required formControlName="tituloPrimerPeriodo" placeholder="Titulo primer periodo" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col d-flex flex-column justify-content-center text-center">
                <p>Fecha inicial primer periodo</p>
                <input required formControlName="primerPeriodoFechaInicio" type="date" />
            </div>
        </div>
        <div class="row">
            <diV class="col d-flex flex-column justify-content-center text-center">
                <p>Fecha final primer periodo</p>
                <input required formControlName="primerPeriodoFechaFin" type="date" />
            </diV>
        </div>
        <div class="row">
            <div class="col d-flex flex-column justify-content-center text-center">
                <p>Titulo segundo periodo</p>
                <input required formControlName="tituloSegundoPeriodo" placeholder="Titulo segundo periodo" type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col d-flex flex-column justify-content-center text-center">
                <p>Fecha inicial segundo periodo</p>
                <input required formControlName="segundoPeriodoFechaInicio" type="date" />
            </div>
        </div>
        <div class="row">
            <diV class="col d-flex flex-column justify-content-center text-center">
                <p>Fecha final segundo periodo</p>
                <input required formControlName="segundoPeriodoFechaFin" type="date" />
            </diV>
        </div>
        <div class="row">
            <div class="col"></div>
            <button type="submit">Agregar</button>
        </div>
    </form>
</div>