.row {
    margin: 1rem 0 0 0;
    padding: 0;
}

.col,
[class*="col-"] {
    padding: 0;
    margin: 1rem 0 0 0;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
}

input {
    padding: 0rem;
    margin: 0rem;
    height: 3rem;
}
.control-input {
    width: 100%;
}

.invalid-input {
    border: 1px red solid;
}
.error-label {
    color: red;
    text-align: left;
}
