<div class="container-fluid">
    <form [formGroup]="periodoForm" (ngSubmit)="Agregar()">
        <div class="row">
            <div class="col-12 justify-content-center text-center">
                <p>Título primer periodo</p>
                <input formControlName="tituloPrimerPeriodo" placeholder="Titulo primer periodo" type="text" class="control-input"
                    maxlength="50" />
                <div *ngIf="formErrors['tituloPrimerPeriodo'].invalid && formErrors['tituloPrimerPeriodo'].errors!['required'] && (submited || formErrors['tituloPrimerPeriodo'].dirty || formErrors['tituloSegundoPeriodo'].touched)"
                    class="error-label">
                    Título primer periodo es requerido
                </div>
                <div *ngIf="formErrors['tituloPrimerPeriodo'].invalid && formErrors['tituloPrimerPeriodo'].errors!['pattern'] && (submited || formErrors['tituloPrimerPeriodo'].dirty || formErrors['tituloSegundoPeriodo'].touched)"
                    class="error-label">
                    Título primer periodo debe ser alfanumérico
                </div>
            </div>

            <div class="col-12 justify-content-center text-center">
                <p>Fecha inicial primer periodo</p>
                <input formControlName="primerPeriodoFechaInicio" type="date" class="control-input" />
                <div *ngIf="formErrors['primerPeriodoFechaInicio'].invalid && (submited || formErrors['primerPeriodoFechaInicio'].dirty || formErrors['primerPeriodoFechaInicio'].touched)"
                    class="error-label">
                    Fecha inicial primer periodo es requerido
                </div>
            </div>

            <diV class="col-12 justify-content-center text-center">
                <p>Fecha final primer periodo</p>
                <input formControlName="primerPeriodoFechaFin" type="date" class="control-input" />
                <div *ngIf="formErrors['primerPeriodoFechaFin'].invalid && (submited || formErrors['primerPeriodoFechaFin'].dirty || formErrors['primerPeriodoFechaFin'].touched)"
                    class="error-label">
                    Fecha final primer periodo es requerido
                </div>
                <div *ngIf="datesErrors.firstPeriodDates" class="error-label">La fecha final
                    debe ser mayor a la fecha inicial
                </div>
            </diV>

            <div class="col-12 justify-content-center text-center">
                <p>Título segundo periodo</p>
                <input formControlName="tituloSegundoPeriodo" placeholder="Titulo segundo periodo" type="text" class="control-input"
                    maxlength="50" />
                <div *ngIf="formErrors['tituloSegundoPeriodo'].invalid && formErrors['tituloSegundoPeriodo'].errors!['required'] && (submited || formErrors['tituloSegundoPeriodo'].dirty || formErrors['tituloSegundoPeriodo'].touched)"
                    class="error-label">
                    Título segundo periodo es requerido
                </div>
                <div *ngIf="formErrors['tituloSegundoPeriodo'].invalid && formErrors['tituloSegundoPeriodo'].errors!['pattern'] && (submited || formErrors['tituloSegundoPeriodo'].dirty || formErrors['tituloSegundoPeriodo'].touched)"
                    class="error-label">
                    Título segundo periodo debe ser alfanumérico
                </div>
            </div>

            <div class="col-12 justify-content-center text-center">
                <p>Fecha inicial segundo periodo</p>
                <input formControlName="segundoPeriodoFechaInicio" type="date" class="control-input" />
                <div *ngIf="formErrors['segundoPeriodoFechaInicio'].invalid && (submited || formErrors['segundoPeriodoFechaInicio'].dirty || formErrors['segundoPeriodoFechaInicio'].touched)"
                    class="error-label">
                    Fecha inicial segundo periodo es requerido
                </div>
            </div>

            <diV class="col-12 justify-content-center text-center">
                <p>Fecha final segundo periodo</p>
                <input formControlName="segundoPeriodoFechaFin" type="date" class="control-input" />
                <div *ngIf="formErrors['segundoPeriodoFechaFin'].invalid && (submited || formErrors['segundoPeriodoFechaFin'].dirty || formErrors['segundoPeriodoFechaFin'].touched)"
                    class="error-label">
                    Fecha final segundo periodo es requerido
                </div>
                <div *ngIf="datesErrors.seconsPeriodDates" class="error-label">La fecha final
                    debe ser mayor a la fecha inicial
                </div>
                <div *ngIf="datesErrors.datesInRage" class="error-label">Las fechas del segundo periodo deben ser
                    mayores a las fechas del primer periodo
                </div>
            </diV>
        </div>
        <div class="row">
            <div class="col"></div>
            <button type="submit">Agregar</button>
        </div>
    </form>
</div>