<div class="container-fluid">
    <form [formGroup]="periodoForm" (ngSubmit)="Agregar()">
        <div class="row">
            <div class="col-6">
                <input readonly type="text" formControlName="guid" class="text-center">
                <div *ngIf="formErrors['guid'].invalid && (submited || formErrors['guid'].dirty || formErrors['guid'].touched)"
                    class="error-label">
                    GUID es requerido
                </div>
            </div>
            <div class="col">
                <button type="button" (click)="GenerarGuid()" class="btn btn-primary">Generar GUID</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 justify-content-center text-center">
                <p>Tiutlo primer periodo</p>
                <input formControlName="tituloi" placeholder="Titulo primer periodo" type="text" class="control-input"
                    maxlength="50" />
                <div *ngIf="formErrors['tituloi'].invalid && formErrors['tituloi'].errors!['required'] && (submited || formErrors['tituloi'].dirty || formErrors['titulof'].touched)"
                    class="error-label">
                    Tiutlo primer periodo es requerido
                </div>
                <div *ngIf="formErrors['tituloi'].invalid && formErrors['tituloi'].errors!['pattern'] && (submited || formErrors['tituloi'].dirty || formErrors['titulof'].touched)"
                    class="error-label">
                    Tiutlo primer periodo debe ser alfanumérico
                </div>
            </div>

            <div class="col-12 justify-content-center text-center">
                <p>Fecha inicial primer periodo</p>
                <input formControlName="fechai1" type="date" class="control-input" />
                <div *ngIf="formErrors['fechai1'].invalid && (submited || formErrors['fechai1'].dirty || formErrors['fechai1'].touched)"
                    class="error-label">
                    Fecha inicial primer periodo es requerido
                </div>
            </div>

            <diV class="col-12 justify-content-center text-center">
                <p>Fecha final primer periodo</p>
                <input formControlName="fechaf1" type="date" class="control-input" />
                <div *ngIf="formErrors['fechaf1'].invalid && (submited || formErrors['fechaf1'].dirty || formErrors['fechaf1'].touched)"
                    class="error-label">
                    Fecha final primer periodo es requerido
                </div>
                <div *ngIf="datesErrors.firstPeriodDates" class="error-label">La fecha final
                    debe ser mayor a la fecha inicial
                </div>
            </diV>

            <div class="col-12 justify-content-center text-center">
                <p>Tiutlo segundo periodo</p>
                <input formControlName="titulof" placeholder="Titulo segundo periodo" type="text" class="control-input"
                    maxlength="50" />
                <div *ngIf="formErrors['titulof'].invalid && formErrors['titulof'].errors!['required'] && (submited || formErrors['titulof'].dirty || formErrors['titulof'].touched)"
                    class="error-label">
                    Tiutlo segundo periodo es requerido
                </div>
                <div *ngIf="formErrors['titulof'].invalid && formErrors['titulof'].errors!['pattern'] && (submited || formErrors['titulof'].dirty || formErrors['titulof'].touched)"
                    class="error-label">
                    Tiutlo segundo periodo debe ser alfanumérico
                </div>
            </div>

            <div class="col-12 justify-content-center text-center">
                <p>Fecha inicial segundo periodo</p>
                <input formControlName="fechai2" type="date" class="control-input" />
                <div *ngIf="formErrors['fechai2'].invalid && (submited || formErrors['fechai2'].dirty || formErrors['fechai2'].touched)"
                    class="error-label">
                    Fecha inicial segundo periodo es requerido
                </div>
            </div>

            <diV class="col-12 justify-content-center text-center">
                <p>Fecha final segundo periodo</p>
                <input formControlName="fechaf2" type="date" class="control-input" />
                <div *ngIf="formErrors['fechaf2'].invalid && (submited || formErrors['fechaf2'].dirty || formErrors['fechaf2'].touched)"
                    class="error-label">
                    Fecha final segundo periodo es requerido
                </div>
                <div *ngIf="datesErrors.seconsPeriodDates" class="error-label">La fecha final
                    debe ser mayor a la fecha inicial
                </div>
                <div *ngIf="datesErrors.datesInRage" class="error-label">Las fechas del segundo periodo deben ser
                    mayores a las fechas del primer periodo
                </div>
            </diV>
        </div>
        <div class="row">
            <div class="col"></div>
            <button type="submit">Agregar</button>
        </div>
    </form>
</div>