<div class="container-fluid login-padre">
    <div class="logo-login"></div>
    <form class="container-fluid formulario">
        <label class="texto-titulo">BIENVENIDO</label>
        <div class="input-icono">
            <input id="id" placeholder="ID" type="number" class="entrada-texto borde-correcto">
            <div class="icono-id"></div>
        </div>
        <div class="input-icono">
            <input id="contraseña" placeholder="Contraseña" type="password" class="entrada-texto borde-incorrecto">
            <div class="icono-contraseña"></div>
        </div>
        <div class="d-flex justify-content-center">
            <button (click)="Ingresar()" type="submit" class="btn-ingresar btn-deshabilitado-color">ENTRAR</button>
        </div>
    </form>
</div>