<div class="container-fluid">
    <div class="row margen-titulo">
        <div class="col-6 text-center">
            <p class="titulo">Lista de Periodos</p>
        </div>
        <div class="col-6">
            <button routerLink="/agregar-periodos" type="button" class="btn btn-secondary w-100 agregar-periodos">Agregar periodos</button>
        </div>
    </div>
    <div class="row tarjeta" *ngFor="let item of items">
        <div class="row">
            <div class="contorno col-6 text-center">
                <p class="texto">{{item.tituloi}}</p>
            </div>
            <div class="contorno col-6 text-center">
                <p class="texto">{{item.titulof}}</p>
            </div>
        </div>
        <div class="row">
            <div class="contorno col-3 text-center">
                <p class="texto">{{item.fechai1}}</p>
            </div>
            <div class="contorno col-3 text-center">
                <p class="texto">{{item.fechaf1}}</p>
            </div>
            <div class="contorno col-3 text-center">
                <p class="texto">{{item.fechai2}}</p>
            </div>
            <div class="contorno col-3 text-center">
                <p class="texto">{{item.fechaf2}}</p>
            </div>
        </div>
        <div class="row">
            <div class="contorno col-12 text-center">
               <a class="enlace" href="www.google.com">Descarga archivo excel</a>
            </div>
        </div>
        <div class="row boton">
            <div class="col-12">
                <button type="button" class="btn btn-success w-100 asignar-excel">Asignar excel</button>
            </div>
        </div>
    </div>
</div>